<ion-content class="content" [fullscreen]="true">
  <ion-grid class="align-vertically">
    <ion-card class="card-login">
      <form [formGroup]="loginForm" (submit)="login(loginForm)">
        <div class="container-image">
          <img
            src="/assets/images/netpark-blue.png"
            alt="Net Park Logo"
            class="img-logo"
          />
        </div>
        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input
            type="tel"
            name="cpf"
            formControlName="cpf"
            maxlength="14"
            [brmasker]="{person: true}"
          ></ion-input>
        </ion-item>
        <div *ngIf="cpf.invalid && (cpf.touched)" class="error-message">
          <div *ngIf="cpf.errors.required">CPF é obrigatório.</div>
          <div *ngIf="cpf.errors.minlength">O CPF deve ter 11 digitos.</div>
        </div>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" name="password" formControlName="password">
          </ion-input>
        </ion-item>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="error-message"
        >
          <div *ngIf="password.errors.required">Senha é obrigatória.</div>
        </div>
        <div class="container-button">
          <ion-button type="submit" color="primary" expand="block"
            >login</ion-button
          >
        </div>
      </form>
    </ion-card>
  </ion-grid>
</ion-content>
