<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">NetPark </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div>
      <strong>Bem vindo ao NetPark</strong>
    </div>
    <ion-button (click)="goToExtract()" color="primary">
      Vá Para tela de Extrato!
    </ion-button>
  </div>
</ion-content>
