<div class="card-extract" (click)="openRoute(extract.endereco)">
  <div class="card-extract--header">
    <div class="card-extract--header--location">
      <div>{{ extract.codGaragem }}</div>
      &nbsp; - &nbsp;
      <div>{{ extract.garagem }}</div>
    </div>
    <div>{{ extract.valor | currency: 'BRL':true }}</div>
  </div>
  <div>{{ extract.endereco }}</div>
  <div>
    <div>Data entrada: {{ extract.dataEntrada | date: 'dd/MM/yyyy' }}</div>
    <div>Data saida: {{ extract.dataEntrada | date: 'dd/MM/yyyy' }}</div>
  </div>
</div>
