<div class="card-extract">
  <div class="card-extract--header">
    <div class="card-extract--header--location">
      <div>{{ extract.codGaragem }}</div>
      &nbsp; - &nbsp;
      <div>{{ extract.garagem }}</div>
    </div>
    <div class="card-extract--value">
      {{ (extract.valor | currency: 'BRL':true).replace('.', ',') }}
    </div>
  </div>
  <div class="card-extract--address">{{ extract.endereco | titlecase }}</div>
  <div class="card-extract--container-date">
    <div>
      Data entrada:
      <span class="card-extract--date">{{
        extract.dataEntrada | date: 'dd/MM/yyyy'
      }}</span>
    </div>
    <div>
      Data saida:
      <span class="card-extract--date">{{
        extract.dataEntrada | date: 'dd/MM/yyyy'
      }}</span>
    </div>
    <div class="container-buttons">
      <ion-button (click)="openRoute(extract.endereco)" color="secondary"
        ><ion-icon slot="start" name="location-outline"></ion-icon> Siga até o
        estacionamento!</ion-button
      >
    </div>
  </div>
</div>
