.card-extract {
  background-color: #1f3779;
  color: white;
  margin: 10px;
  border-radius: 8px;
  padding: 16px;
}

.card-extract--header {
  display: flex;
  justify-content: space-between;
}

.card-extract--header--location {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-extract--value {
  font-weight: 600;
}

.card-extract--container-date {
  margin-top: 10px;
}

.card-extract--date {
  font-weight: 600;
}

.container-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
